<p-confirmDialog [style]="{width: '50vw'}" [breakpoints]="{ '960px': '95vw' }"></p-confirmDialog>
<p-toast position="top-center"></p-toast>
<app-paid-table [paidOrders]="paidOrders" (onAction)="onAction($event)"
    [loading]="loadingTable"></app-paid-table>
<p-dialog header="Editar Pago" [modal]="true" [(visible)]="showForm"
    [breakpoints]="{ '960px': '95vw' }" [style]="{ width: '60vw', height: '500px' }">
    <app-paid-form-dialog [order]="paymentUpdate" (onSubmit)="onPaidFormSubmit($event)" ></app-paid-form-dialog>
</p-dialog>