<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<p-card [header]="formTitle">
    <form autocomplete="off"
    [formGroup]="orderForm"
    (ngSubmit)="onSubmit()">
    <div class="formgrid grid">
        <div class="field col-10 md:col-11">
            <input class="w-full"type="text" pInputText formControlName="customer" placeholder="Cliente" >
        </div>
        <div class="field col-2 md:col-1">
            <button pButton icon="pi pi-plus" type="button" class="p-button-help" (click)="showCustomers = true"
                pTooltip="Seleccione un cliente" tooltipPosition="top"></button>
        </div>
        <div class="field col-12 md:col">
            <p-dropdown formControlName="factory" [options]="factories" optionLabel="name" placeholder="Fabricas"
                styleClass="w-full" aria-describedby="factory-help" (onChange)="factorySelection()"></p-dropdown>
            @if(isValid('factory')) {
                <small class="form-error" id="factory-help">Seleccione una fabrica.</small>
            }                
        </div>
        <div class="field col-12 md:col">
            <p-dropdown formControlName="priceList" [options]="priceLists" optionLabel="name" placeholder="Lista de Precios"
                styleClass="w-full" aria-describedby="priceList-help" (onChange)="changeSelectedPriceList()"></p-dropdown>
                @if(isValid('priceList')) {
                    <small class="form-error" id="priceList">Seleccione una lista de precio.</small>
                }    
        </div>
    </div>
    <div class="formgrid grid">
        <div class="field col-12 md:col">
            <p-dropdown formControlName="invoicedPercent" [options]="percentOptions" optionLabel="percentString" placeholder="Porcentaje Facturado"
                styleClass="w-full" aria-describedby="invoicedPercent-help" (onChange)="selectProductsEvent(false)"></p-dropdown>
            @if(isValid('invoicedPercent')) {
                <small class="form-error" id="invoicedPercent-help">Seleccione un porcetanje de facturacion.</small>
            }    
        </div>
        <div class="field col-12 md:col">
            <p-dropdown formControlName="delivery" [options]="deliveries" optionLabel="name" placeholder="Transporte"
                styleClass="w-full" aria-describedby="delivery-help"></p-dropdown>
        </div>
    </div>
    <div class="formgrid grid">
        <div class="field col-12">
            <textarea rows="5" cols="30" class="w-full" pInputTextarea formControlName="observations" placeholder="Observaciones"></textarea>
        </div>
    </div>
    <div class="formgrid grid">
        <div class="field col-10 md:col-11">
            <input class="w-full" type="number" formControlName="customerDiscount" pInputText placeholder="Descuento cliente."
                aria-describedby="customerDiscount-help" (change)="selectProductsEvent(false)" [min]="0">
            @if(isValid('customerDiscount')) {
                <small class="form-error" id="customerDiscount-help">El descuento tiene que ser un numero.</small>
            }
        </div>
        <div class="field col-2 md:col-1">
            <button pButton icon="pi pi-plus" type="button" class="p-button-help"
                pTooltip="Agregue un nuevo descuento" tooltipPosition="top" (click)="addDiscount()"></button>
        </div>
    </div>
    <ng-container formArrayName="discounts" class="">
        @for( d of discounts.controls; track $index){
            <ng-container [formGroupName]="$index" class="">
                <div class="formgrid grid">
                    <div class="field col-10 md:col-11">
                        <input pInputText type="number" formControlName="discount" class="w-full" (change)="selectProductsEvent(false)">
                    </div>
                    <div class="field col-2 md:col-1">
                        <button type="button" pButton icon="pi pi-trash"
                            class="p-button-sm p-button-danger p-button-rounded p-button-text mr-2"
                            (click)="removeDiscount($index)" pTooltip="Eliminar" tooltipPosition="left"></button> 
                    </div>
                </div>
            </ng-container>   
        }
    </ng-container>
    <div class="formgrid grid">
        <div class="field col">
            <button pButton icon="pi pi-plus" type="button" class="p-button-help" label="Producto"
                pTooltip="Agregue nuevos productos" tooltipPosition="top" (click)="showProducts = true" [disabled]="this.products.length === 0"></button>
        </div>
    </div>
    @if(selectedProductsDisplayed.length > 0) {
        <p-table [value]="selectedProductsDisplayed" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Bonificado</th>
                    <th>Subtotal</th>
                    <th>Eliminar</th>
                </tr>
            </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.product.description }}</td>
                <td>{{ product.price | currency }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.bonus }}</td>
                <td>{{ product.subtotal | currency }}</td>
                <td><button type="button" pButton icon="pi pi-times" class="p-button-sm p-button-danger p-button-rounded p-button-text mr-2"
                    (click)="deleteProductFromSelection(product)" pTooltip="Elimnar" tooltipPosition="left"></button></td>
            </tr>
        </ng-template>
    </p-table>
    <table class="w-full mt-4">
        <tr>
            <td>Total Neto:</td>
            <td>{{netTotal | currency:'':'symbol':'0.0-4'}}</td>
            <td>Descuento(%):</td>
            <td>{{finalDiscount | percent:'0.0-4'}}</td>
            <td>Total Neto con Descuento:</td>
            <td>{{netTotalWithDiscount | currency:'':'symbol':'0.0-4'}}</td>
        </tr>
        <tr>
            <td>Monto Facturado:</td>
            <td>{{invoicedAmount | currency:'':'symbol':'0.0-4'}}</td>
            <td>Monto Remito:</td>
            <td>{{remitAmount | currency:'':'symbol':'0.0-4'}}</td>
            <td>Monto IVA (21%):</td>
            <td>{{ivaAmount | currency:'':'symbol':'0.0-4'}}</td>
        </tr>
        <tr>
            <td><h2>Total:</h2></td>
            <td><h1>{{total | currency:'':'symbol':'0.0-4'}}</h1></td>
        </tr>

    </table>
}
    <button pButton pRipple label="Guardar" type="submit" class="p-button-success mt-3" 
        [disabled]="isSubmitDisabled()" [loading]="loadingSubmit"></button>
    </form>
</p-card>

<!-- Customer selection dialog. -->
<p-dialog header="Seleccione un cliente" [modal]="true" [(visible)]="showCustomers" 
    [breakpoints]="{ '960px': '95vw' }" [style]="{ width: '60vw', height: '510px' }">
    <p-table #tableCustomers [value]="customers" [(selection)]="selectedCustomer" dataKey="_id"
    [paginator]="true" [rows]="3" [globalFilterFields]="filters">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h3 class="m-0">Clientes</h3>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input #search class="w-full" pInputText type="text" (input)="tableCustomers.filterGlobal(search.value, 'contains')" placeholder="Buscar..." />
            </span>
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem"></th>
                <th>Nombre</th>
                <th>Provincia</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>
                    <p-tableRadioButton [value]="customer"></p-tableRadioButton>
                </td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.province }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [colSpan]="2">No se encontraron registros.</td>
            </tr>
        </ng-template>
    </p-table>
    <button pButton type="button" (click)="customerSelection()" label="Seleccionar" class="p-button-info mt-3"></button>
</p-dialog>

<!-- Products selection dialog. -->
<p-dialog header="Selecione los productos" [modal]="true" [(visible)]="showProducts"
    [breakpoints]="{ '960px': '95vw' }" [style]="{ width: '70vw', height: '650px' }">
    <p-table [value]="products" [(selection)]="selectedProducts" dataKey="product._id" [tableStyle]="{'min-width': '50rem'}"
        [paginator]="true" [rows]="3" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    #
                </th>
                <th>Codigo</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Bonificacion</th>
                <!-- <th>Subtotal</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product" [disabled]="!product.price"></p-tableCheckbox>
                </td>
                <td>{{ product.product.code }}</td>
                <td>{{product.product.description }}</td>
                <td>{{product.price | currency}}</td>
                <td [pEditableColumn]="product.quantity" pEditableColumnField="quantity">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="number" [(ngModel)]="product.quantity" (change)="calculatedSubtotal(product)" required />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ product.quantity }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="product.bonus" pEditableColumnField="bonus">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="number" [(ngModel)]="product.bonus" required />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ product.bonus }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <!-- <td>{{ product.quantity * product.price | currency}}</td> -->
            </tr>
            <tr>
                <td colspan="2"><strong>Subtotal:</strong></td><td colspan="4">{{ product.quantity * product.price | currency}}</td>
            </tr>
        </ng-template>
    </p-table>
    <button pButton class="p-button-info mt-3" type="button" 
        (click)="selectProductsEvent(false)" label="Seleccionar"></button>
</p-dialog>
