<form autocomplete="off"
    [formGroup]="factoryDiscountForm"
    (ngSubmit)="onSubmit()">
    <div class="formgrid grid">
        <div class="field col-12 md:col">
            <p-dropdown styleClass="w-full" formControlName="factory" [options]="factories" optionLabel="name"
                placeholder="Fabrica" aria-describedby="factory-help"></p-dropdown>
            @if(isValid('factory')) {
                <small id="factory-help" class="form-error">Seleccione una fabrica.</small>
            }
        </div>
        <div class="field col-12 md:col">
            <p-dropdown styleClass="w-full" formControlName="delivery" [options]="deliveries" optionLabel="name" 
                placeholder="Transporte" aria-describedby="delivery-help"></p-dropdown>
            @if(isValid('delivery')) {
                <small id="delivery-help" class="form-error">Seleccione un transporte.</small>
            }
        </div>
    </div>    
    <div class="mb-3">    
        <button pButton icon='pi pi-plus' label="Descuento" type="button" 
            class="p-button-help p-button-sm" (click)="addDiscount()"
            pTooltip="Agregar descuento"></button>
    </div>
    <ng-container formArrayName="discounts" class="flex flex-column">
        @for( d of discounts.controls; track $index){
            <ng-container [formGroupName]="$index" class="formgrid grid">
                <input pInputText type="number" formControlName="discount" class="col-10">
                <button type="button" pButton icon="pi pi-trash" class="col-1 p-button-sm p-button-danger p-button-rounded p-button-text mr-2"
                    (click)="removeDiscount($index)"></button> 
            </ng-container>
                
        }
    </ng-container>
    <button pButton label="Guardar" type="submit" class="p-button-success mt-2" pTooltip="Guardar fabrica"></button>
</form>
