<p-table #table responsiveLayout="stack" [value]="records" [globalFilterFields]="filters"
    [rows]="3" [paginator]="true">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h3 class="m-0">Historicos</h3>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input #search class="w-full" pInputText type="text" (input)="table.filterGlobal(search.value, 'contains')" placeholder="Buscar..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Representada</th>
            <th>Total</th>
            <th>Comision</th>
            <th>Opciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
        <tr>
            <td>{{ order.payment.createdAt | date:'shortDate' }}</td>
            <td>{{ order.customer.name }}</td>
            <td>{{ order.factory.name }}</td>
            <td>{{ order.payment.total | currency:'USD':'symbol':'0.0-3' }}</td>
            <td>{{ order.payment.commission | currency:'USD':'symbol':'0.0-3' }}</td>
            <td>
                <button
                    pButton icon="pi pi-print" class="p-button-sm p-button-secondary p-button-rounded p-button-text mr-2"
                    pTooltip="Imprimir" tooltipPosition="top" (click)="emitter.emit({ data: order, type: 'print' })">
                </button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td [colSpan]="7">No se encontraron registros.</td>
        </tr>
    </ng-template>
</p-table>
