<p-confirmDialog [style]="{width: '50vw'}" [breakpoints]="{ '960px': '95vw' }"></p-confirmDialog>
<p-toast position="top-center"></p-toast>
<app-invoice-table [invoicedOrders]="invoicedOrders" (onAction)="onAction($event)"
    [loading]="loadingTable"></app-invoice-table>
<p-dialog header="Crear Pago" [modal]="true" [(visible)]="showPaidForm"
    [breakpoints]="{ '960px': '95vw' }" [style]="{ width: '60vw', height: '500px' }">
    <app-paid-form-dialog [order]="orderPaid" (onSubmit)="onPaidFormSubmit($event)" ></app-paid-form-dialog>
</p-dialog>
<p-dialog header="Editar Factura" [modal]="true" [(visible)]="showInvoiceForm"
    [breakpoints]="{ '960px': '95vw' }" [style]="{ width: '60vw', height: '500px' }">
    <app-invoice-form-dialog [order]="orderUpdate" (onClose)="onInvoiceFormSubmit($event)"></app-invoice-form-dialog>
</p-dialog>