<form autocomplete="off"
    [formGroup]="priceListForm"
    (ngSubmit)="onSubmit()">
    <div class="formgrid grid">
        <div class="field col">
            <input pInputText class="w-full" type="text" formControlName="name" placeholder="Nombre" 
                [ngClass]="isValid('name') ? 'ng-invalid ng-dirty' : ''" id="name" aria-describedby="name-help">
            <div class="block-error">
                @if(isValid('name')) {
                    <small id="name-help" class="form-error">El nombre es requerido.</small>
                }    
            </div>
        </div>
    </div>
    <button pButton class="mt-2 p-button-success" label="Guardar" type="submit" [loading]="loadingButton"></button>
</form>
