/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
    background-color: #f5f9ff;
}

.form-error {
    color: #f27f88;
}

.block-error {
    height: 0.5rem;
}